## Pandas練習

### テスト用csv作成

In [1]:
# csv作成
import csv
data_list = []
for i in range(1,6):
    data = [h + str(i) for h in "ABCD"]
    data_list.append(data)

with open("test.csv", mode='w', encoding='utf-8') as f:
    csv_writer = csv.writer(f, lineterminator='\n')
    csv_writer.writerows(data_list)

In [2]:
# csvファイルを読み込む
import pandas as pd
df = pd.read_csv('test.csv', header=None)
print(df, type(df))

    0   1   2   3
0  A1  B1  C1  D1
1  A2  B2  C2  D2
2  A3  B3  C3  D3
3  A4  B4  C4  D4
4  A5  B5  C5  D5 <class 'pandas.core.frame.DataFrame'>

In [3]:
#3つの要素からなる
print(df.values, type(df.values))
print(df.index, type(df.index))
print(df.columns, type(df.columns))

[['A1' 'B1' 'C1' 'D1']
 ['A2' 'B2' 'C2' 'D2']
 ['A3' 'B3' 'C3' 'D3']
 ['A4' 'B4' 'C4' 'D4']
 ['A5' 'B5' 'C5' 'D5']] <class 'numpy.ndarray'>
RangeIndex(start=0, stop=5, step=1) <class 'pandas.core.indexes.range.RangeIndex'>
Int64Index([0, 1, 2, 3], dtype='int64') <class 'pandas.core.indexes.numeric.Int64Index'>

In [4]:
#カラム名、レコード名つけた
rows = ['row0', 'row1', 'row2', 'row3', 'row4']
cols = ['col0', 'col1', 'col2', 'col3']
df.index = rows
df.columns = cols
print(df)

     col0 col1 col2 col3
row0   A1   B1   C1   D1
row1   A2   B2   C2   D2
row2   A3   B3   C3   D3
row3   A4   B4   C4   D4
row4   A5   B5   C5   D5

In [5]:
#csvにもともとカラムがある場合
df2 = pd.read_csv('test_set_index.csv', encoding='utf-8')
df2 = df2.set_index('row_name')
print(df2)

         col0 col1 col2 col3
row_name
row0       A1   B1   C1   D1
row1       A2   B2   C2   D2
row2       A3   B3   C3   D3
row3       A4   B4   C4   D4
row4       A5   B5   C5   D5

In [6]:
#set_indexをリセットしてみた
print(df2.reset_index())

  row_name col0 col1 col2 col3
0     row0   A1   B1   C1   D1
1     row1   A2   B2   C2   D2
2     row2   A3   B3   C3   D3
3     row3   A4   B4   C4   D4
4     row4   A5   B5   C5   D5

In [7]:
print("index 行名\n{0}".format(df.index))
print("columns 列名\n{0}".format(df.columns))
print("len 行数\n{0}".format(len(df)))
print("len(columns) 列数\n{0}".format(len(df.columns)))
print("shape (行,列)数\n{0}".format(df.shape))
print("size 要素数 \n{0}".format(df.size))
print("memory_usage() メモリ使用量 \n{0}".format(df.memory_usage()))

index 行名
Index(['row0', 'row1', 'row2', 'row3', 'row4'], dtype='object')
columns 列名
Index(['col0', 'col1', 'col2', 'col3'], dtype='object')
len 行数
5
len(columns) 列数
4
shape (行,列)数
(5, 4)
size 要素数
20
memory_usage() メモリ使用量
Index    40
col0     40
col1     40
col2     40
col3     40
dtype: int64

In [8]:
print(df)

#C4
print(df.at['row3', 'col2']) #at(row, col)
print(df.loc['row3', 'col2']) #loc(row, col)複数いける

print(df.iat[3, 2]) #iat(rowの番号, colの番号)
print(df.iloc[3, 2]) #iloc(rowの番号, colの番号)

     col0 col1 col2 col3
row0   A1   B1   C1   D1
row1   A2   B2   C2   D2
row2   A3   B3   C3   D3
row3   A4   B4   C4   D4
row4   A5   B5   C5   D5
C4
C4
C4
C4

In [15]:
print(df.iloc[:, 1])
print(df.loc['row3'])
# print(df.iloc[:, 'col1'])

print(df.loc[['row2','row3'], 'col1':'col3'])
print(df.iloc[[2,3], 1:4])

row0    B1
row1    B2
row2    B3
row3    B4
row4    B5
Name: col1, dtype: object
col0    A4
col1    B4
col2    C4
col3    D4
Name: row3, dtype: object
     col1 col2 col3
row2   B3   C3   D3
row3   B4   C4   D4
     col1 col2 col3
row2   B3   C3   D3
row3   B4   C4   D4

In [17]:
print(df.iloc[2], type(df.iloc[2]))
print(df.iloc[:,2],type(df.iloc[:,2])) #一次元はシリーズ
print(df.iloc[:,2:4],type(df.iloc[:,2:4]))#二次元はデータフレーム

col0    A3
col1    B3
col2    C3
col3    D3
Name: row2, dtype: object <class 'pandas.core.series.Series'>
row0    C1
row1    C2
row2    C3
row3    C4
row4    C5
Name: col2, dtype: object <class 'pandas.core.series.Series'>
     col2 col3
row0   C1   D1
row1   C2   D2
row2   C3   D3
row3   C4   D4
row4   C5   D5 <class 'pandas.core.frame.DataFrame'>

In [24]:
#書き換え
df.at['row3', 'col2'] = "x9"
df.loc[['row1','row2'], 'col1'] = "Y8"
df.loc[['row1','row2'], 'col2'] = ["Z6", "Z7"]
df.loc[['row3','row4'],['col0','col1']] = [["W5", "W6"],["W7", "W8"]]
print(df)

     col0 col1 col2 col3
row0   A1   B1   C1   D1
row1   A2   Y8   Z6   D2
row2   A3   Y8   Z7   D3
row3   W5   W6   x9   D4
row4   W7   W8   C5   D5

In [49]:
#条件指定に式を入れる
df = pd.read_csv('test_set_index.csv', encoding='utf-8')
df.set_index('row_name', inplace=True)
print(df)
print(df.loc[df['col0']=='A3', 'col1':'col3']) #ここ
print(df.loc[df['col0'].isin(['A3','A5']), 'col1':'col3'])

         col0 col1 col2 col3
row_name
row0       A1   B1   C1   D1
row1       A2   B2   C2   D2
row2       A3   B3   C3   D3
row3       A4   B4   C4   D4
row4       A5   B5   C5   D5
         col1 col2 col3
row_name
row2       B3   C3   D3
         col1 col2 col3
row_name
row2       B3   C3   D3
row4       B5   C5   D5

## 自分でデータフレームを作ろう

In [36]:
#empty dataframe
cols = ['id', 'name', 'age']
df = pd.DataFrame(columns = cols)
df.set_index('id', inplace=True)
# df = df.append({'id': 1,'name': 'taro', 'age': 20}, ignore_index=True)
for i in range(1, 6):
    df.loc[i] = ['taro' + str(i), i*10]


print(df)

     name  age
id
1   taro1   10
2   taro2   20
3   taro3   30
4   taro4   40
5   taro5   50

### 練習問題

In [53]:
df = pd.read_csv('pandas_train_mini.csv', index_col=0)
df.head()

,Satisfied,Pclass,Sex,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,male,"Sato, Mr. Ren",21.0,1,0,A/5 211711,870.000,NaN,Tokyo
2,1,1,female,"Suzuki, Mrs. Himari",37.0,1,0,PC 175991,8553.996,C85,Osaka
3,1,3,female,"Tanaka, Miss. Mei",25.0,0,0,STON/O2. 31012821,951.000,NaN,NaN
4,1,1,female,"Ito, Mrs. Riko",34.0,1,0,227606,6372.000,C123,Tokyo
5,0,3,male,"Takahashi, Mr. Haruto",34.0,0,0,746900,966.000,NaN,Tokyo

In [59]:
df_e = df.loc[(df['Embarked']=='Tokyo') & (df['Age'] >= 30), 'Satisfied':'Age'] #ここ
df_e.head()

             Satisfied  Pclass     Sex                   Name   Age
PassengerId
4                    1       1  female         Ito, Mrs. Riko  34.0
5                    0       3    male  Takahashi, Mr. Haruto  34.0
7                    0       1    male   Yamamoto, Mr. Itsuki  53.0
14                   0       3    male  Yamaguchi, Mr. Hiroto  38.0
16                   1       2  female     Inoue, Mrs. Kotone  54.0